.tout-view-mode {
  margin-top: 15px;
}
.tout-view-mode .main-content {
  position: relative;
}
.tout-view-mode .tout-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2em;
  z-index: 3;
  display: flex;
  align-self: flex-end;
}
.tout-view-mode .tout-content > .field {
  display: flex;
  align-self: flex-end;
}
