.horizontal-media-teaser-view-mode.anchor-all {
  position: relative;
}
.horizontal-media-teaser-view-mode.anchor-all .right,
.horizontal-media-teaser-view-mode.anchor-all .left {
  position: static;
}
.horizontal-media-teaser-view-mode.anchor-all .field--name-node-title {
  position: static;
}
.horizontal-media-teaser-view-mode.anchor-all .field--name-node-title h3 {
  font-size: 1.4em;
  position: static;
}
.horizontal-media-teaser-view-mode.anchor-all .field--name-node-title h3 a {
  position: static;
}
.horizontal-media-teaser-view-mode.anchor-all .field--name-node-title h3 a::before {
  position: absolute;
  content: '';
  display: block;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.horizontal-media-teaser-view-mode.anchor-all a {
  z-index: 2;
  position: relative;
}
