.hero-view-mode.xlarge .main-content {
  position: relative;
}
.hero-view-mode.xlarge .hero-content {
  position: absolute;
  width: 50%;
  top: 20%;
  bottom: 20%;
  left: 5%;
  right: 5%;
  padding: 1.2em;
  z-index: 3;
}
